<footer class="footer">
  <small>
    <a href="http://www.mittech.in/">Rails App</a>
    by Gopi Kalyan
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://mittech.in/index.php?section=contactus">News</a></li>
    </ul>
  </nav>
</footer>
